<div class="blog-detail-author__container">
    <div class="blog-detail_author__wrapper">
        <div class="blog-detail-author__title">
            <h2>{{title}}</h2>
            <div class="yellow-divider"></div>
        </div>
        <div class="blog-detail-author__content">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <img class="author-avatar" src="{{avatar}}" alt="{{name}}" />
                </div>

                <div class="col-xs-12 col-sm-9 col-md-9">
                    <h3 class="author-name">{{name}}</h3>
                    <h4 class="author-role">{{role}}</h4>
                    <p class="description">{{{description}}}</p>
                    <div class="social-following">
                        <ul>
                            <li class="social-label">Follow Linus on:</li>
                            <li><a href="#"><span class="fa fa-at"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-stack-overflow"></span></a></li>
                            <li><a href="#"><span class="episerver-icon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>