
<div class="service-item-detail__container" data-id="fullInfo-{{id}}">
    <img class="service-item-detail__image checking-animate inactive {{animation-type-detail-image}} hidden-xs hidden-sm" src="{{imgUrl}}" alt="" />

    <div class="container">
        <div class="service-item-detail__content checking-animate inactive {{animation-type-detail-text}}">
            <div class="service-item-detail__title">{{bigTitle}}</div>
            <div class="orange-divider service-listing__yellow-underline">
            </div>
            <img class="service-item-detail__image-mobile hidden-md hidden-lg" src="{{imgUrl}}" alt="" />
            <div class="service-item-detail__description">
                {{{fullDescription}}}
            </div>
            <div class="service-item-detail__description description__bellow">
                {{{fullDescription-bellow}}}
            </div>
        </div>
    </div>
</div>
